* {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

body {
  line-height: 1.6;
  color: #fff;
  background: #333;
}

.app-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  color: #fff;
}

.nav-bar {
  margin-left: auto;
  height: 4rem;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
}

.nav-bar a:hover {
  font-weight: bold;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
  color: #fff;
  width: 100%;
  height: 300px;
}

.hero-content {
  flex: 1;
  padding: 0;
  text-align: center;
  overflow: auto;
  max-height: 100vh;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 0;
  color: #fff;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 0;
  color: #fff;
}

.about-section {
  position: relative;
  display: block;
  padding: 2rem 2rem;
  text-align: left;
  width: 100%;
  height: auto;
  color: #fff;
}

.section-title {
  margin-bottom: 0;
  font-size: 2rem;
  color: #fff;
  text-align: left;
}

.section-content {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #fff;
  text-align: left;
}

.works-section {
  position: relative;
  display: block;
  padding: 2rem 2rem;
  text-align: left;
  width: 100%;
  height: auto;
  color: #fff;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.portfolio-item {
  width: 200px;
  height: 150px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.main-content > * {
  flex-shrink: 0;
}

.cursor-trail {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px; /* increased size */
  height: 250px;
  background: radial-gradient(#ff9900, #ff6600); /* warm gradient color */
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s ease-out;
  z-index: -1; /* move the trail behind the text */
  filter: blur(20px); /* add a blur effect for a smoother texture */
  opacity: 1; /* initial opacity is 1 */
}

.cursor-trail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: radial-gradient(#ff9900, #ff6600); /* warm gradient color */
  border-radius: 50%;
  opacity: 0.5;
  transform: scale(1.5);
  filter: blur(20px); /* add a blur effect for a smoother texture */
  animation: fluid-motion 2s infinite; /* add animation */
}

@keyframes gravity-motion {
  0% {
    transform: translateY(0) scale(1.5);
  }
  50% {
    transform: translateY(50px) scale(1.2);
  }
  100% {
    transform: translateY(0) scale(1.5);
  }
}

@keyframes fluid-motion {
  0% {
    transform: scale(1) translate(0, 0);
  }
  25% {
    transform: scale(1.1) translate(20px, 20px);
  }
  50% {
    transform: scale(1.2) translate(40px, 40px);
  }
  75% {
    transform: scale(1.1) translate(20px, 20px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

.cursor-trail.moving::before {
  animation: fluid-motion 3s infinite;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .header {
    position: relative;
    width: 100%;
    height: auto;
  }

  .hero-container {
    position: relative;
    width: 100%;
    height: auto;
  }

  .about-section {
    width: 100%;
    height: auto;
  }

  .works-section {
    width: 100%;
    height: auto;
  }

  .section-title {
    text-align: center;
  }

  .section-content {
    text-align: center;
  }

  .portfolio-container {
    justify-content: center;
  }
}
